name: CICD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_TAG: v1

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2



      - name: Build and Tag Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: |
            jayvirrathi/nodejs:v1
            jayvirrathi/nodejs:v4.0.0
            ghcr.io/jayvirrathi/nodejs:v1
            ghcr.io/jayvirrathi/nodejs:v4.0.0

      - name: Set Image Tag
        run: echo ::set-env name=IMAGE_TAG::v1

  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup kubectl
        uses: steebchen/kubectl-setup@v1

      - name: Update deployment.yaml
        run: yq eval ".spec.template.spec.containers[0].image = 'ghcr.io/${{ github.repository_owner }}/nodejs:${{ env.IMAGE_TAG }}'" -i deployment/deployment.yaml

      - name: Apply deployment.yaml
        run: kubectl apply -f deployment/deployment.yaml

